@import 'mixins';

$primary: #f0f0f0;
$secondary:#fafafa;
$top:#e0595b;
$bottom:#ecb56f;
$right:#5d9ce0;
$left:#55ccca;
$soustitre:#b8b7bb;
$border: 4px;
$margpad:40px;

@font-face {
    font-family:'Poppins-Light';
    src: url('Poppins-Light.ttf');
}

body {
    background-color:$primary ;
    font: {
        family: 'Poppins-Light';
        size: 15px;
    }
    color: #4e4e5d;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: center;
    align-content: center; 
}

#titre1 {
    font-weight: lighter;
    
}

header {

    height: 265px;
    display: flex;
    text-align: center;
    justify-content: center;
    
    p
    {
        width: 530px;
        color: $soustitre;
    }

}

@mixin card_rules($border-color)
{
    background-color: #fafafa;
    width: 270px;
    height: 230px;
    box-shadow: 0px 4px 4px 4px rgba(7, 6, 15, 0.15);   
    border-top: $border solid $border-color;
    border: {
            radius: 4px;
            top: 4px solid 4px;
            }

    padding: {
            left: 40px; 
            right: 40px;
            }

    &:hover{
        background-color: darken(#fafafa, 5);
    }
    margin-left: 40px;
}

.itembas{
    @include card_rules($bottom);
} 

.itemdroite{
    @include card_rules($right);
    margin-top: 50px;

}

.itemgauche{
    @include card_rules($left);
    margin-top: 50px;
}

.itemhaut{
    @include card_rules($top);
   margin-bottom: 20px;
}

svg
{
    float: right;
}

@media only screen and (max-width: 375px) {
    @import 'mobile_design.scss';
}